<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Vegetables</title>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>


    <body>

        <div class="container-fluid" id="app">
            <div class="row py-5">
                <div class="col-4 text-center">
                    <a href="shop.html"><h1>Shop</h1></a>
                </div>
                <div class="col-4 text-center">
                    <h1>Cart</h1>
                </div>
                <div class="col-4 text-center">
                    <a href="orders.html"><h1>Orders</h1></a>
                </div>
            </div>


            <div class="row" v-if="show_items">
                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            <h3>Name</h3>
                        </div>
                        <div class="col text-center">
                            <h3>Qantity</h3>
                        </div>
                        <div class="col text-center">
                            <h3>Update</h3>
                        </div>
                        <div class="col text-center">
                            <h3>Delete</h3>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-12" v-for="item in cart_items">
                    <div class="row">
                        <div class="col text-center">
                            <h4>{{ item['name'] }}</h4>
                        </div>
                        <div class="col text-center">
                            <input type="number" v-model="item['quantity']">
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-primary" @click="add_item_to_cart(item['product_id'], item['quantity'])">Update</button>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-danger" @click="delete_item_from_cart(item['product_id'])">Delete</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>


            <div class="row" v-if="show_items">
                <div class="col text-center py-5">
                    <button class="btn btn-danger btn-lg" @click="click_on_buy">Buy all</button>
                </div>
            </div>


            <div class="row" v-if="!show_items">
                <div class="col">
                    <div class="row">
                        <div class="col text-right">
                            <h4>Ваше имя</h4>
                        </div>
                        <div class="col text-left">
                            <input v-model="user_info['name']" placeholder="Введите имя">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <h4>Ваш телефон</h4>
                        </div>
                        <div class="col text-left">
                            <input v-model="user_info['phone']" placeholder="Введите телефон">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <h4>Адрес заказа</h4>
                        </div>
                        <div class="col text-left">
                            <input v-model="user_info['address']" placeholder="Введите адрес">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <h4>Время заказа</h4>
                        </div>
                        <div class="col text-left">
                            <input v-model="order_time" placeholder="Введите время заказа">
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col text-right">
                            <button class="btn btn-danger btn-lg" @click="buy">Buy</button>
                        </div>
                        <div class="col text-left">
                            <button class="btn btn-primary btn-lg" @click="show_items = !show_items">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>