<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Vegetables</title>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>


    <body>

        <div class="container-fluid" id="app">
            <div class="row py-5">
                <div class="col-4 text-center">
                    <h1>Shop</h1>
                </div>
                <div class="col-4 text-center">
                    <a href="cart.html"><h1>Cart</h1></a>
                </div>
                <div class="col-4 text-center">
                    <a href="orders.html"><h1>Orders</h1></a>
                </div>
            </div>


            <div class="row" v-if="what_to_show === 'categories'">
                <div class="col-12 text-center py-1" v-for="category in categories">
                    <button class="btn btn-primary btn-lg" @click="get_subcategories(category['category_id'])">{{ category["name"] }}</button>
                </div>
            </div>


            <div class="row" v-if="what_to_show === 'subcategories'">
                <div class="col-12 text-center py-1" v-for="subcategory in subcategories">
                    <button class="btn btn-primary btn-lg" @click="get_products(subcategory['subcategory_id'])">{{ subcategory["name"] }}</button>
                </div>
                <div class="col-12 text-center py-1">
                    <button class="btn btn-danger btn-lg" @click="what_to_show = 'categories'">Back</button>
                </div>
            </div>


            <div class="row" v-if="what_to_show === 'products'">
                <div class="col-12 text-center py-1" v-for="i in products.length">
                    <div class="row">
                        <div class="col-3">
                            <img :src="products[i - 1]['photo']" height="150" width="150">
                        </div>
                        <div class="col-3">
                            <h3>{{ products[i - 1]['name'] }}</h3>
                        </div>
                        <div class="col-3">
                            <h3>{{ products[i - 1]['cost'] }}</h3>
                        </div>
                        <div class="col-1">
                            <input v-model="quantity[i - 1]" class="input-group-text">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary btn-lg" @click="add_item_to_cart(products[i - 1]['product_id'], quantity[i - 1])">
                                Add to cart
                            </button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-12 text-center py-1">
                    <button class="btn btn-danger btn-lg" @click="what_to_show = 'subcategories'">Back</button>
                </div>
            </div>
        </div>
 
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>